*{margin: 0px}
 body {
    overflow-x: hidden;
 }

/* Toggle Styles */
.s{
    margin-top:-200px;
    }
*{;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 150px;
}

#sidebar-wrapper {display: block;
    width:150px;
    margin-top:0px;
    z-index: 1000;
    position: fixed;
    left: 0px;
    height: 100%;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 150px;
}



/* Sidebar Styles */
nav a{ display: block; }

.sidebar-nav {

    position: absolute;
    top: 0;
    width: 150px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {

    display:block;
    text-indent: 20px;
    margin:  30px 0;
    transition: all 0.3s;
    padding:1px;
    transform: skew(0,-10deg);
    background-color: #111011;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #00CCCC;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #00CCCC;
    background: rgba(0,51,204,0.2);
}



.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #00CCCC;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #00CCCC;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 150px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 150px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }


}

/*custom font*/


